---
- name: Download reprepro key
  ansible.builtin.get_url:
    url: http://deb.l.nicholaswilde.io/public.gpg.key
    dest: /etc/apt/trusted.gpg.d/reprepro.asc

- name: Setup reprepro source
  ansible.builtin.copy:
    src: reprepro.list.j2
    dest: "/etc/apt/sources.list.d/reprepro.list"
