{{ ansible_managed|comment }}

[Unit]
Description=system configuration upgrade
After=network-online.target
 
[Service]
ExecStart=/bin/sh -c '{{ ansible_user_dir }}/.local/bin/ansible-pull -U "{{ homelab_pull_url }}" -i "$(uname -n)," --diff'
TimeoutStopSec=600
